</br></br>

<div class="container card card-compressed">
  <h1 class="text-center">Privacy Policy</h1>
  <hr />
  <p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt orci a erat laoreet, nec imperdiet nibh interdum.
    Maecenas sed ligula non ante consequat pharetra in et nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Donec odio nulla, pellentesque non sagittis et, imperdiet in erat. Duis sit amet tellus tristique, tincidunt massa sed, placerat nisi.
    In hac habitasse platea dictumst. Praesent blandit placerat molestie.
  </p>
  <br class="clr" />
</div>
