</br></br>

<div class="container card card-compressed">
  <h1 class="text-center">Team</h1>
  <hr />
  <p class="text-center">
    Duis imperdiet ligula id nulla pharetra, at aliquam risus fermentum. Duis risus nibh, posuere ac arcu at, pellentesque imperdiet urna.
    Nullam iaculis libero ac ex luctus, et vulputate ligula molestie. Integer eu sapien dolor.
    Curabitur suscipit dolor placerat eros sagittis, eu vestibulum nibh placerat. Maecenas vel consequat dolor.
    Proin faucibus iaculis magna, at pretium diam. Sed sagittis nulla rutrum, molestie diam nec, sollicitudin orci.
  </p>
  <br class="clr" />
</div>
