<div class="chessboard">
  <% col = ["A", "B", "C", "D", "E", "F", "G", "H"]
  row_index = 7
  col_index = 0 %>

  <!--
    Chess Coordinates (x, y)
    ------------------------------------
    top-left(0, 7), top-right(7,7)
    bottom-left(0, 0), bottom-right(7,0)
  -->

  <table>
    <% 8.times do %>
      <tr>
        <% 8.times do %>
          <td>
            <div><%= col[col_index] + (row_index+1).to_s %><p><%= %></p></div>
            <% piece = get_piece_at(col_index, row_index) %>
            <% if piece %> 
              <div><%= piece.color %></div>
              <div><%= piece.class %></div>
            <% end %>
          </td>
          <% col_index += 1 %>
          
        <% end %>
      </tr>

      <% row_index -= 1 %>
      <% col_index = 0 %>
    <% end %>
  </table>
</div>