</br></br>

<div class="container card card-compressed">
  <h1 class="text-center">Games in Progress</h1>
  <hr />
  <% @games.each do |game| %>
    <h2 class="text-center"><%= link_to game.name, game_board_path(game) %></h2>
  <% end %>
  </br>
</div>