<br/><br/>

<div class="card col-xs-10 col-xs-offset-1">
  <br />
  <h2 class="text-center">Start a New Game</h2>
  <%= simple_form_for @game do |f| %>
    <%= f.input :name %>
    <%= f.input :player_1_color, label: "Choose Your Piece Color", include_blank: false,
    collection: ["White", "Black"], as: :select %>
    <br />
    <%= f.submit "Start Game!", class: 'btn btn-success center-block' %>
    <br />
  <% end %><br/>
</div>
