</br></br>

<div class="container card card-compressed">
  <h1 class="text-center"><%= @game.name %></h1>
  <h2 class="text-center"><%= link_to "Go to Game Board", game_board_path %></h2>
  </br>
</div>